body
{
    background-color: #89CFF0;
}


.title
{
    text-align: left;
    font-size:35px;
    left:100px;
}

.PageHeader{
    font-size: 20px;
    Background-color: white;
    padding : 01px;
    color: #89CFF0;
    text-align: center;
}

.links {
    overflow: hidden;
}

.links a {
    background-color: #3d3d3d;
    color: #ffffff;
    float: left;
    text-align: center;
    padding: 10px 50px;
    border: white;
    border-width: thin;
}

.links a:hover {
    background-color: gray;
    color: pink;
}


.QStart
{
    border: 2px solid orange;
    background-color: yellow;
    color: orange;
    text-align: center;
    width: 450px;
    position: absolute;
    left: 711px;
    top: 500px;
}

.QStart:hover
{
    background-color: orange;
    color: yellow;
    border: 2px solid yellow;
}

.message{
    color: black;
    text-decoration-line: underline;
}

.startmessage{
    color:black;
    text-decoration-line: underline;
    text-align: center;
    font-size: 40px;
}

.questions{
    color: black;
    font-size: 35px;
}

.answer1
{
    font-size: 30px;
    background-color: #66FF99;
    color: black;
    margin: 50px;
    border: 2px solid green;
    border-radius: 100px;
    padding: 0px;
    text-align: center;
    width: 450px;
    position: absolute;
    top: 300px;
    left: 150px;
}

.answer1:hover {
    background-color: #CBC3E3;
    color: black;
    border-radius: 100px;
    border: 2px solid purple;
}
.answer1:target {
    background-color: #CBC3E3;
    color: black;
    border-radius: 100px;
    border: 2px solid purple;
}

.answer2
{
    font-size: 30px;
    background-color: #66FF99;
    color: black;
    margin: 50px;
    border: 2px solid green;
    border-radius: 100px;
    padding: 0px;
    text-align: center;
    width: 450px;
    position: absolute;
    top: 450px;
    left: 150px;
}

.answer2:hover {
    background-color: #CBC3E3;
    color: black;
    border-radius: 100px;
    border: 2px solid purple;
}

.answer2:target {
    background-color: #CBC3E3;
    color: black;
    border-radius: 100px;
    border: 2px solid purple;
}
.answer3
{
    font-size: 30px;
    background-color: #66FF99;
    color: black;
    margin: 50px;
    border: 2px solid green;
    border-radius: 100px;
    padding: 0px;
    text-align: center;
    width: 450px;
    position: absolute;
    top: 600px;
    left: 150px;
}

.answer3:hover {
    background-color: #CBC3E3;
    color: black;
    border-radius: 100px;
    border: 2px solid purple;
}
.answer3:target {
    background-color: #CBC3E3;
    color: black;
    border-radius: 100px;
    border: 2px solid purple;
}
.answer4
{
    font-size: 30px;
    background-color: #66FF99;
    color: black;
    margin: 50px;
    border: 2px solid green;
    border-radius: 100px;
    padding: 0px;
    text-align: center;
    width: 450px;
    position: absolute;
    top: 750px;
    left: 150px;
}




.answer4:hover {
    background-color: #CBC3E3;
    color: black;
    border-radius: 100px;
    border: 2px solid purple;
}
.answer4:focus {
    background-color: #CBC3E3;
    color: black;
    border-radius: 100px;
    border: 2px solid purple;
}

.nextQuestion
{
    font-size: 30px;
    background-color: #66FF99;
    color: black;
    margin: 50px;
    border: 2px solid green;
    border-radius: 100px;
    padding: 0px;
    text-align: center;
    width: 450px;
    position: absolute;
    top: 550px;
    left: 750px;
}

.nextQuestion:hover {
    background-color: #CBC3E3;
    color: black;
    border-radius: 100px;
    border: 2px solid purple;
}
.nextQuestion:focus {
    background-color: #CBC3E3;
    color: black;
    border-radius: 100px;
    border: 2px solid purple;
}

.results{
    color: black;
    font-size: 65px;
    text-align: center;
}

.welcometext{
    color: black;
    font-size: 35px;
}